MixSaT
SoccerViTAC
wandb/**
__pycache__
.vscode/launch.json
lightning_logs
Output
MixSaT_Train
**/__pycache__/
# The above pattern matches all __pycache__ directories recursively
**/*.pyc
MixSaT_Train_2025
MixSaT_Test_2025